@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
@font-face {
    font-family: 'Compagnon-Roman';
    src: url('/extras/Compagnon-Roman.otf') format('truetype');
}

body {
    font-family: 'Rubik Bubbles', serif;
    background-color: #FFFF00;
    color: #AA00AA;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Compagnon-Roman', cursive;
    color: #AA00AA; /* Specific purple */
    text-shadow: none;
}

p, a, button, input, textarea, select {
    font-family: 'Rubik Bubbles', serif;
    color: #AA00AA; /* Specific purple */
    text-shadow: none;
}

.header-title, .header {
    font-family: 'Rubik Bubbles', cursive;
    color: #AA00AA; /* Specific purple */
    text-shadow: none;
}

body::before {
    content: url('https://raw.githubusercontent.com/DondeEstaMiCabeza/wallpapers/master/extras/logo.png') !important;
    position: absolute !important;
    top: 10px !important;
    left: 10px !important;
    width: 50px !important;
    height: auto !important;
    display: block !important;
    z-index: 1000 !important;
}

